body{
	background-image:url('../img/fundo-code.png');
	background-attachment: fixed;
	color: white; 
	background-repeat: no-repeat;
   /* background-size: 100% 100%;*/
	font-size: 16px;
	height: 100%;
}

/* topo e capa site */
#home {
	height: 100%;
}

.img-logo{
	width: 100px;
}

.transparente_top {
	padding: 0px auto;
	background: rgba(0,0,0,0.6);
	overflow: hidden;
}

.transparente {
	padding: 15px 10px;
	background: rgba(0,0,0,0.6);
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 20px 20px 50px rgb(0,0,0,0.5);
	border-top: 1px solid rgb(255, 255, 255,0.5);
	border-left: 1px solid rgb(255, 255, 255,0.5) ;
	backdrop-filter: blur(5px);
}

@font-face {
	font-family: Code;
	src: url("../font/Code.woff");
}

.font-code {
	font-family: Code;
	font-size: 1.8em;
}

.font-code-item {
	font-size: 18px;
	padding-right: 10%;
	color: white;
}

h3::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: pisca .7s infinite;
  }

  @keyframes pisca {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

#nav-principal a {
	color:white;
	position: relative;
}

#nav-principal a:hover{
	color:rgb(12, 208, 243);
	font-size: 1.2em;
	transition-duration: 1s;
}

.caixa-rodape .menu a:hover{
	color:rgb(12, 208, 243);
	transition-duration: 1s;
}

/*
.mov_right{
	position: relative;
	animation-name: mv_right;
	animation-duration: 3s;  
	animation-fill-mode: forwards;
}

@keyframes mv_right {
	0%   {left:-400px}
	100%  {left:0px}
}
*/
/* FIM topo e capa site */

.caixa_branca {
	padding: 80px 0;
	background-color: white;
	color: rgb(15, 4, 65);
}

.caixa_branca_top {
	padding-top: 10px;
	background-color: white;
	color: rgb(15, 4, 65);
}
	
.caixa {
	padding: 80px 0;
	border-bottom: 1px solid #c2c8e7;
	color: rgb(255, 255, 255);
	overflow: hidden;
}

.caixa-rodape {
	padding: 30px 0px 0px 0px;
	color: rgb(241, 245, 243);
	background-color: rgb(15, 4, 65);
}

.caixa-rodape a{
	color: gray;
	font-size: 14px;
	text-decoration: none;
}

.caixa-direitos {
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 20px;
	color: gray;
	background-color: rgb(6, 3, 61);
	text-align: left;
	height: 30px; 
	font-size: 14px;
}

#sobre blockquote p{
	color: gray;
}

#sobre blockquote p aspas{
	font-size: 18px;
}

/*
#servicos img {
	width: 50%;
	margin: auto;
	margin-bottom: 2em;
	display: block;
}

#servicos h6, #servicos p {
	text-align: center;
	margin-bottom: 2em;
}
*/

.imagem_bloco {
	width: 100px;
	height: 90px;
	margin: auto;
	margin-bottom: 2em;
	display: block;
}

.texto_bloco {
	text-align: center;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

.cor-seta{
	color:royalblue;
}


footer ul {
	list-style: none;
}



footer a{
	color: white;
}

.visualizar {
	border: 3px solid rgb(236, 14, 14);
}

/*ANIMAÇÃO HOME */
.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
			animation-duration: 1s; 
}

@-webkit-keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
}

@keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
}
/*FINAL ANIMAÇÃO HOME */


/*ANIMAÇÃO SESSÕES */
[data-anime]{
	opacity: 0;
	transition: 2s;
}

[data-anime="right"]{
	transform: translate3d(-50px, 0, 0);
}

[data-anime="left"]{
	transform: translate3d(50px, 0, 0);
}

[data-anime="top"]{
	transform: translate3d(0, -50px, 0);
}

[data-anime="bottom"]{
	transform: translate3d(0, 50px, 0);
}

[data-anime].animate{
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);	
}
/* FINAL ANIMAÇÃO SESSÕES */ 


 
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	#home {
		margin-top: -5%;
		margin-bottom: 10%;
	}
	#sobre .caixa_branca_top{
		padding-bottom: 15%;
	}
	
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	#home {
		margin: 20% 5%;
	}
	#sobre .caixa_branca_top{
		padding-bottom: 10%;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	#home img {
		width: 75%;
		margin-top: 25%;
	}
	#home {
		margin-top: 5%;
	}
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	#home img {
		width: 65%;
		margin-top: 15%;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	#home img {
		width: 75%;
		margin-top: 15%;
	}
	
}